*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    background-color: #0F1111;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    width: 115px;
    height: 55px;


}

.logo{
    background-image: url(amazon_logo.png);
    background-size : cover;
    height: 50px;
    width: 100%;
}

.border{
    border : 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/** box 2 **/

.nav-address{
    height: 55px;
    

}
.add-first{
    font-size: 0.8rem;
    margin-left: 15px;
    color: #cccccc;
    padding-top: 10px;
    align-items: center;
    
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;
    font-weight: 700;
}    
.add-icon{
    display: flex;
    align-items: center;
}

/* box 3 */

.nav-search{
    display: flex;
    background-color: pink;
    width: 820px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
    text-align: center;
}

.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    padding: 5px;
    border-left: 0.8px;
    border-top-left-radius : 4px;
    border-bottom-left-radius : 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;

}
.search-icon
{
    display: flex;
    width: 45px;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    background-color: rgb(228, 148, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius:4px ;
    color: #0F1111;
}

/* box 4 */

.lang{
    display: flex;
    gap: 2px;
    align-items:end;
    justify-content: baseline;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    
}
.lang-select{
    height: 25px;
    background-color: #0F1111;
    color: white;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 700;

}

/* box 5 */
.nav-signin{
    padding-top: 11px;
    padding-bottom: 11px;
}


.nav-signin p{
    font-size: 0.8rem;
    color: #cccccc;
    margin-left: 3px;
    


}
.account-select{
    background-color: #0F1111;
    border: none;
    outline: none;
    font-size: 1rem;
    color: white;
    font-weight: 700;
}

/* box 6 */

.nav-return{
    padding-top: 11px;
    padding-bottom: 11px;
}
.account-returns{
    font-size: 0.8rem;
    color: #cccccc;
    
}
.account-orders{
    
    border: none;
    
    font-size: 1rem;
    color: white;
    font-weight: 700;
}

/* box 7 */
.nav-cart i{
    font-size: 30px;
    padding-top: 13px;
    padding-bottom: 13px;

}
    
.nav-cart{
    display: flex;
    align-items: baseline;
    font-size: 1rem;
    gap: 2px;
}



/* panel */

.panel{
    height: 40px;
    width: 100%;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops a{
    display: inline;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-left: 15px;
}
.panel-ops{
    width: 77%;
    font-size: 0.9rem;
}
.panel-deals{
    
    font-size: 1rem;
    font-weight: 700;
}
.panel-deals a{
    color: white;
    text-decoration: none;
}

/* hero section */

.hero-section{
    background-image: url(hero_image.jpg);
    height: 400px;
    background-size: cover;
    display:flex ;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: black;
    font-size: 0.9rem;
    width: 95%;
    margin-bottom: 30px;
}
.hero-msg a{
    text-decoration: none;
    color: #007185;
}


/* shop-section */

.shop-section{

    display: flex;
    flex-wrap: wrap;
    background-color: #e2e7e6;
    justify-content: space-evenly;
}

.box{
    /* border: 1px solid black; */
    border-radius: 5%;
    height: 400px;
    width: 23%;
    margin-top: 10px;
    background-color: white;
    padding: 20px 0px 15px;

}
.box-img{
    background-size: cover;
    height: 320px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 15px;
    margin-right: 15px;
}
.box-content a{
    color: #007185
}
.box-content h2{
    text-align: left;
}



/* footer */

.footer-panel_1{
    background-color: #37475a;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    
}

.footer-panel_1 button{
    background-color: #37475a;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;


}
#myBtn:hover {
    background-color: #555; 
  }

.footer-panel_2{
    background-color:#222f3d;
    color: white;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-panel_2 a{
    display: block;
    font-size: 1rem;
    color: #dddddd;
    margin-top: 10px;
}
.footer-panel_2 p{
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 700;
}

.footer-panel_3{
    background-color: #222f3d;
    height: 80px;
    color: white;
    border-top: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size : cover;
    height: 50px;
    width: 100px;

}

.footer-panel_4{
    background-color: #0F1111;
    /* display: flex; */
    color: #dddddd;
    /* justify-content: center;
    align-items: center; */
    height: 80px;
    text-align: center;
    font-size: 0.85rem;
}
.pages{
    padding-top: 20px;
    
}
.copyright{
    
    padding-top: 10px;
}
